# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\AUSY Technologies\JPA Test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
